$duration: 450ms;
$tileWidth: 20vw;
$tileHeight: 11.25vw;
$iconSize: 50px;
$growSize: 1.5;

$moveLeft: -( $tileWidth / $growSize );
$moveRight: ($tileWidth / 2 );

.series-page:nth-child(1) {
  left: -50px;
}

.series-page:nth-child(2) {
  right: -50px;
}

.episodes-page {
  position: absolute;
  margin-left: 5px;
  left: -100%;
  display: none;
  transition: left 300ms linear;
  z-index: 1;
  &.previous {
    z-index: 2;
    left: -200%;
    display: block;
  }
  &.active {
    left: 4%;
    z-index: 3;
    display: block;
  }
  &.active ~ .series-page {
    left: 100%;
  }
}

.episode-index-row {
  overflow: hidden;
  padding: 4.3vw 4% .5em;
}

.episode-button-right {
  position: absolute;
  height: $tileHeight;
  width: $tileWidth / 5;
  max-height: 180px;
  right: 0;
  cursor: pointer;
  font-size: 3vw;
  font-weight: 100;
  text-align: center;
  color: #fff;
  &:hover {
    font-weight: 200;
    transform: scale(1.2);
  }
  z-index: 5;
}

.episode-button-left {
  position: absolute;
  height: $tileHeight;
  width: $tileWidth / 5;
  max-height: 180px;
  left: 0;
  text-align: center;
  cursor: pointer;
  font-size: 3vw;
  font-weight: 100;
  color: #fff;
  &:hover {
    font-weight: 200;
    transform: scale(1.2);
  }
  z-index: 5;
}

.episode-tile {
  position: relative;
  display: inline-block;
  width: $tileWidth;
  height: $tileHeight;
  // max-width: 363px;
  // max-height: 190px;
  margin-right: $tileWidth / 6.5;
  font-size: 20px;
  cursor: pointer;
  transition: $duration all;
  transform-origin: center left;
  &:hover {
    .episode-details {
      color: #fff;
    }
  }
}

.episode-tile-img {
  width: $tileWidth;
  height: $tileHeight;
  // max-width: 330px;
  // max-height: 180px;
  object-fit: cover;
}

.episode-tile-play {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 12px;
  opacity: 0;
  background: linear-gradient(to top,
    rgba(0,0,0,0.9) 0%,
    rgba(0,0,0,0), 100%);
  transition: $duration opacity;
  .episode-tile:hover & {
    opacity: 1;
  }
}

.episode-play-button {
  z-index: 5;
  height: 4vw;
  position: absolute;
  padding: 0.1vw 0.5vw 0 1vw;
  border-radius: 100%;
  border: 0.3vw solid #999;
  top: 0;
  left: 0;
  margin-left: 8vw;
  margin-top: $tileWidth / 6;
  font-size: 2.7vw;
  color: #999;
  cursor: pointer;
  &:hover {
    cursor: pointer;
    color: #DB0510;
    border: 0.3vw solid #ECF0F1;
  }
}

.episode-details {
  width: $tileWidth;
  color: #999;
  position: absolute;
  top: 12vw;
}

.episode-title {
  font-size: 1.2vw;
  font-weight: 600;
  line-height: 1.3;
  white-space: normal;
}

.episode-summary {
  position: absolute;
  width: $tileWidth;
  padding: 0.3vw 0;
  font-size: 1.1vw;
  white-space: normal;
  text-overflow: ellipsis;
}
