$duration: 450ms;
$tileWidth: 16vw;
$tileHeight: 9vw;
$iconSize: 50px;
$growSize: 1.5;

$moveLeft: -( $tileWidth / $growSize );
$moveRight: ($tileWidth / 2 );

.search-results-header {
  color: #999;
  padding: 0 4%;
  font-size: 2vw;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  line-height: 1.3;
  cursor: pointer;
  margin-bottom: 2vw;
}

.filtered-row-inner {
  width: 100%;
  transition: $duration transform;
  font-size: 0;
  white-space: nowrap;
  height: $tileHeight;
  margin: 1vw 4vw 5vw;
}

.filtered-row-inner:hover .tile {
  opacity: .3;
  margin-bottom: $tileHeight / 4;
  &:hover {
    transform: scale($growSize);
    opacity: 1;
  }
}

// .tile {
//   position: relative;
//   display: inline-block;
//   width: $tileWidth;
//   height: $tileHeight;
//   // max-width: 330px;
//   // max-height: 180px;
//   margin-right: $tileWidth / 7;
//   font-size: 20px;
//   transition: $duration all;
//   transform-origin: center left;
//   &.selected {
//     border: 4px solid #fff;
//   }
// }
//
// .tile:hover ~ .tile {
//   transform: translate3d($moveLeft, 0, 0);
//   transform: translate3d($moveRight, 0, 0);
// }
//
// .tile-img {
//   width: $tileWidth;
//   height: $tileHeight;
//   // max-width: 330px;
//   // max-height: 180px;
//   object-fit: cover;
// }
//
// .tile-details {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   top: 0;
//   font-size: 12px;
//   opacity: 0;
//   background: linear-gradient(to top,
//     rgba(0,0,0,0.9) 0%,
//     rgba(0,0,0,0), 100%);
//   transition: $duration opacity;
//   &:hover {
//     opacity: 1;
//   }
// }
//
// .play-button {
//   z-index: 5;
//   height: 3vw;
//   display: inline-block;
//   padding: 0.2vw 0.4vw 0 0.9vw;
//   border-radius: 100%;
//   border: 0.3vw solid #999;
//   vertical-align: middle;
//   top: 0;
//   left: 0;
//   margin-left: $tileWidth / 2.6;
//   margin-top: $tileWidth / 7;
//   font-size: 2.3vw;
//   color: #999;
//   cursor: pointer;
//   &:hover {
//     cursor: pointer;
//     color: #DB0510;
//     border: 0.3vw solid #ECF0F1;
//   }
// }
//
// .tile-title {
//   position: absolute;
//   cursor: pointer;
//   bottom: 0;
//   padding: 1.3vw 0 1.3vw 0.6vw;
//   color: #ccc;
//   width: 80%;
//   font-size: 0.7vw;
//   white-space: normal;
//   line-height: 1.3;
//   &:hover {
//     color: #fff;
//   }
// }
//
// .tile-add-list {
//   cursor: pointer;
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   text-align: right;
//   font-size: 0.7vw;
//   padding: 1.3vw 0.6vw 1.3vw 0;
//   color: #ccc;
//   width: 20%;
//   &:hover {
//     color: #fff;
//   }
// }
