.footer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  padding: 50px;
  background: rgba(0, 0, 0, 0);
  color: #999;
  font-weight: 200;
  .contact {
    display: block;
    margin-bottom: 7%;
  }

  .links {
    display: flex;
    width: 50%;
  }

  .link-item {
    margin: 0 10vw;
    padding: 5px 20px;
    border-radius: 3px;
    letter-spacing: 1.5px;
    background: rgba(0, 0, 0, 0.4);
    &:hover {
      text-decoration: underline;
      background: rgba(0, 0, 0, 0.6);
    }
  }
}
