.footer {
  padding: 6% 4%;
  background: #000;
  color: grey;
  font-weight: 200;
  .links {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .link-item {
    font-size: 1.2vw;
    padding: 5px 20px;
    border-radius: 3px;
    letter-spacing: 1.5px;
    background: rgba(20, 20, 20, 0.4);
    &:hover {
      text-decoration: underline;
      background: rgba(20, 20, 20, 0.6);
    }
  }
}
