.logo {
	border: 0;
	float: left;
  background: image-url('logo3.png');
  background-size: cover;
  cursor: pointer;
  &.nav-logo {
    height: 46px;
    width: 166px;
    margin: 15px 58px;
  }
	&.entry-logo {
		height: 60px;
		width: 216px;
		margin: 20px 58px;
	}
}
