.nav-header {
  position: fixed;
  display: block;
  width: 100%;
  background: rgba(0,0,0,.7);
  z-index: 500;
}

.nav {
  position: relative;
}

.nav-user {
  float: right;
  padding: 33px 0;
  margin-right: 40px;
  width: 80px;
  color: #fff;
  line-height: 1.2;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    .nav-dropdown {
      display: block;
      position: absolute;
      top: 80px;
      right: 50px;
    }
  }
}

.nav-dropdown {
  display: none;
  border-top: 2px solid #fff;
  background: rgba(0,0,0,.7);
  width: 165px;
}

.nav-dropdown-item {
  cursor: pointer;
  padding: 1.5em 2em;
  font-size: 12px;
  color: #fff;
  &:hover {
    text-decoration: underline;
  }
}
