$tileHeight: 11.5vw;
$tileWidth: 22vw;
$duration: 450ms;
$iconSize: 50px;

.series-show {
  background: #000;
  position: relative;
  transition-duration: 1s;
  min-height: 30vw;
  padding-bottom: 4.2vw;
  margin-bottom: 2vw;
}

.close-series-show {
  color: #fff;
  font-size: 2vw;
  font-weight: 100;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  text-shadow: 1px 1px 2px black;
  &:hover {
    font-weight: 200;
  }
}

.series-show-nav {
  position: absolute;
  bottom: 0px;
  right: 50%;
  transform: translateX(50%);
}

.nav-item {
  float: left;
  margin-left: 3vw;
}

.nav-button {
  cursor: pointer;
  font-size: 1vw;
  color: #ccc;
  margin: 0 5px;
  text-transform: uppercase;
  padding-bottom: 0.7vw;
  letter-spacing: .1vw;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 1px 2px black;
  &.selected {
    color: #fff;
    border-bottom: 5px solid #E50914;
  }
  &:hover {
    color: #fff;
  }
}

.serie-title {
  font-size: 1.8vw;
  width: 55vw;
  position: absolute;
  left: 0;
  top: 10px;
  line-height: 1.3;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  margin-left: 3.8vw;
}

.serie-overview {
  margin-left: 3.8vw;
}

.avg-rating {
  margin-top: $tileHeight / 2.3;
  display: inline-block;
  vertical-align: middle;
  color: gold;
  font-weight: 400;
}

.star {
  font-size: 1.4vw;
  &:hover {
    color: gold;
  }
}

.show-list-button {
  margin-top: 10px;
  display: block;
  vertical-align: middle;
  font-size: 1.3vw;
  color: #fff;
  cursor: pointer;
}

.show-list-icon {
  background: rgba(0,0,0,.7);
  border-radius: 100%;
  border: .1vw solid #fff;
  margin-right: .8vw;
  &:hover {
    color: #000;
    background: #fff;
    transform: scale(1.1);
  }
}

.plus {
  padding: 0 .3vw .1vw;
}

.check {
  padding: 0 .4vw .1vw;
}

.show-list-text {
  letter-spacing: 1px;
}

.serie-year {
  margin-top: $tileHeight / 2.3;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.2vw;
  font-weight: 400;
  margin-left: 10px;
  color: #666;
}

.serie-description-header {
  font-size: 1.4vw;
  color: #999;
  line-height: 1.3;
  margin-top: $tileHeight / 6;
  z-index: 1;
  width: 30%;
  white-space: normal;
}

.serie-description {
  font-size: 1.2vw;
  color: #999;
  line-height: 1.3;
  margin-top: $tileHeight / 6;
  z-index: 1;
  width: 30%;
  white-space: normal;
}

.serie-img {
  object-fit: cover;
}

.show-play-button {
  display: none;
}

.serie-img-container {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 65%;
  height: 100%;
  opacity: 1;
  overflow: hidden;
  background: linear-gradient(to top,
    rgba(0,0,0,0.9) 0%,
    rgba(0,0,0,0), 100%);
  transition: $duration opacity;
  &:hover {
    .show-play-button {
      display: block;
      z-index: 5;
      height: 4vw;
      position: absolute;
      padding: 0 .4vw 4.3vw 2vw;
      border-radius: 100%;
      border: 0.5vw solid #999;
      bottom: 13vw;
      right: 4vw;
      margin-right: $tileWidth;
      margin-top: $tileWidth;
      font-size: 7vw;
      color: #999;
      cursor: pointer;
      &:hover {
        cursor: pointer;
        color: #DB0510;
        border: 0.5vw solid #fff;
      }
    }
  }
}
