$duration: 450ms;
$tileWidth: 16vw;
$tileHeight: 9vw;
$iconSize: 50px;
$growSize: 1.5;

$moveLeft: -( $tileWidth / $growSize );
$moveRight: ($tileWidth / 2 );


.series-page:nth-child(1) {
  left: -50px;
}

.series-page:nth-child(2) {
  right: -50px;
}

.series-page {
  position: absolute;
  left: -100%;
  display: none;
  transition: left 300ms linear;
  z-index: 1;
  &.previous {
    z-index: 2;
    left: -200%;
    display: block;
  }
  &.active {
    left: 4%;
    z-index: 3;
    display: block;
  }
  &.active ~ .series-page {
    left: 100%;
  }
}

.car-button {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  height: $tileHeight / 2;
  width: $tileWidth / 4.4;
  max-height: 180px;
  cursor: pointer;
  font-size: 3vw;
  font-weight: 100;
  text-align: center;
  color: #fff;
  z-index: 5;
  display: none;
  padding: $tileHeight / 4 0;
}

.index-row {
  position: relative;
  overflow: hidden;
  &:hover {
    .cb-right {
      display: block;
      right: 0;
      &:hover {
        font-weight: 200;
        transform: scale(1.2);
      }
    }

    .cb-left {
      left: 0;
      display: block;
      &:hover {
        font-weight: 200;
        transform: scale(1.2);
      }
    }
  }
}

.index-row-header {
  color: #999;
  padding: 0 4%;
  font-size: 1.4vw;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  line-height: 1.3;
  cursor: pointer;

  &:hover {
    color: #fff;
  }
}

.index-row-inner {
  width: 100%;
  transition: $duration transform;
  font-size: 0;
  white-space: nowrap;
  height: $tileHeight;
  margin: 0.8vw 0 4vw;
}

.index-row-inner:hover .tile {
  opacity: .3;
  margin-bottom: $tileHeight / 4;
  &:hover {
    transform: scale($growSize);
    opacity: 1;
  }
}

.tile {
  position: relative;
  display: inline-block;
  width: $tileWidth;
  height: $tileHeight;
  // max-width: 330px;
  // max-height: 180px;
  margin-right: $tileWidth / 7;
  font-size: 20px;
  transition: $duration all;
  transform-origin: center left;
  &.selected {
    border: 4px solid #fff;
  }
}

.tile:hover ~ .tile {
  transform: translate3d($moveLeft, 0, 0);
  transform: translate3d($moveRight, 0, 0);
}

.tile-img {
  width: $tileWidth;
  height: $tileHeight;
  // max-width: 330px;
  // max-height: 180px;
  object-fit: cover;
}

.tile-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  font-size: 12px;
  opacity: 0;
  background: linear-gradient(to top,
    rgba(0,0,0,0.9) 0%,
    rgba(0,0,0,0), 100%);
  transition: $duration opacity;
  &:hover {
    opacity: 1;
  }
}

.play-button {
  z-index: 5;
  height: 3vw;
  display: inline-block;
  padding: 0.2vw 0.4vw 0 0.9vw;
  border-radius: 100%;
  border: 0.3vw solid #999;
  vertical-align: middle;
  top: 0;
  left: 0;
  margin-left: $tileWidth / 2.6;
  margin-top: $tileWidth / 7;
  font-size: 2.3vw;
  color: #999;
  cursor: pointer;
  &:hover {
    cursor: pointer;
    color: #DB0510;
    border: 0.3vw solid #ECF0F1;
  }
}

.tile-title {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  padding: 1.3vw 0 1.3vw 0.6vw;
  color: #ccc;
  width: 80%;
  font-size: 0.7vw;
  white-space: normal;
  line-height: 1.3;
  &:hover {
    color: #fff;
  }
}

.tile-add-list {
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  font-size: 0.7vw;
  padding: 1.3vw 0.6vw 1.3vw 0;
  color: #ccc;
  width: 20%;
  &:hover {
    color: #fff;
  }
}


// .tile-details {
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   top: 0;
//   font-size: 12px;
//   opacity: 0;
//   background: linear-gradient(to top,
//     rgba(0,0,0,0.9) 0%,
//     rgba(0,0,0,0), 100%);
//   transition: $duration opacity;
//
//   &:after, &:before {
//     content: '';
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     display: block;
//   }
//
//   &:after {
//     margin-top: (-($iconSize / 2));
//     margin-left: (-($iconSize / 2));
//     width: $iconSize;
//     height: $iconSize;
//     border: 3px solid #ECF0F1;
//     line-height: $iconSize;
//     text-align: center;
//     border-radius: 100%;
//     background: rgba(0,0,0,0.5);
//     z-index: 1;
//   }
//
//   &:before {
//     content: '▶';
//     left: 0;
//     width: 100%;
//     font-size: 40px;
//     margin-left: 7px;
//     margin-top: -20px;
//     text-align: center;
//     z-index: 2;
//     color: #DB0510;
//   }
//
//   .index-tile:hover & {
//     opacity: 1;
//   }
// }
